<!DOCTYPE html>
    <!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
    <!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
    <!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
    <!--[if (gte IE 9)|!(IE)]><!-->
<html lang="en"  ng-app="movecalc" ng-controller="movecalController" ng-cloak> <!--<![endif]-->	       	
        
        <head>
        
            <meta charset="utf-8" />
            <title>Super Good Movers, Residential and Commercial Moving Solutions:  - supergoodmovers.com</title>
            <meta name="description" content="Super Good Movers, Residential and Commercial Moving Solutions" />
            <meta name="keywords" content="El Paso movers, El Paso moving services, local moving company, Yelp movers, moving El Paso, 
                El Paso moving and storage, storage Texas, specialty moving services,
		 full packing moving services, partial packing and movers, movers and packers,
		  Texas movers, Texas moving company, Texas moving services, moving company in El Paso,
		   best El Paso moving storage company, El Paso relocation company, TX relocation service,
		    TX relocation, Texas relocation, Texas relocation company,
		     Texas storage, El Paso storage company, Texas moving, texas moving company,
		      moving el paso storage, moving companies in el paso, commercial el paso movers, moving packing supplies,
		       student moving discounts, affordable moving company,
		       " />
           
            <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
                        
            <link rel="shortcut icon" href="assets/img/favicon.png" type="image/png" />
            
            
            <link type="text/css" media="all" href="assets/css/reset.css" rel="stylesheet" />
            
            <link type="text/css" media="all" href="elromco-min/elromco.css" rel="stylesheet" />
        
            <!-- Font Awesome -->
            <link type="text/css" media="all" href="assets/fonts/font-awesome-4.3.0/css/font-awesome.min.css" rel="stylesheet" />
            <link type="text/css" media="all" href="assets/css/icons/flaticon.css" rel="stylesheet" />
            
            <link type="text/css" media="all" href="assets/css/slider.css" rel="stylesheet" />
            <link type="text/css" media="all" href="assets/css/ultra-form.css" rel="stylesheet" />
            <link type="text/css" media="all" href="assets/css/move-calc-form.css" rel="stylesheet" />
            <link type="text/css" media="all" href="assets/css/testimonials.css" rel="stylesheet" />
            <link type="text/css" media="all" href="assets/css/preloader.css" rel="stylesheet" />
            <link type="text/css" media="all" href="assets/css/style.css" rel="stylesheet" />
            <link rel="stylesheet" href="assets/css/menu.css" type="text/css" />
            <link type="text/css" media="all" href="assets/css/responsive.css" rel="stylesheet" />
               
            <link type="text/css" media="all" href="assets/css/header_footer.css" rel="stylesheet" />
                
    </head>

	<body>
 
        <div id="loading">
            <div id="loading-center">
                <div class="logo"></div>
                <div id="loading-center-absolute">
                    <div class="object" id="object_one"></div>
                    <div class="object" id="object_two"></div>
                    <div class="object" id="object_three"></div>
                    <div class="object" id="object_four"></div>
                </div>
            </div> 
        </div>

        <div class="top_bar_wrapper">
			<div class="top_bar">
				<div class="top_bar_contacts">
					<a href="tel:(915) 219-5232"><i class="fa fa-phone-square" aria-hidden="true"></i>(915) 219-5232</a>
					<a href="mailto:info@supergoodmovers.com"><i class="fa fa-envelope" aria-hidden="true"></i>info@supergoodmovers.com</a>
				</div>
				<div class="top_bar_info_wrapper">
					<div class="top_bar_info_socials">
						<a href="https://www.facebook.com/supergoodmoversusa/" target="_blank"><i class="fa fa-facebook"></i></a>			
						<a href="https://twitter.com/sgoodmovers915" target="_blank"><i class="fa fa-twitter"></i> </a>
						<a href="https://www.pinterest.com/supergoodmovers/" target="_blank"><i class="fa fa-pinterest"></i> </a>			
						<a href="https://www.linkedin.com/company/4816722/" target="_blank"><i class="fa fa-linkedin"> </i> </a>
					</div>
					<div class="top_bar_info_add_list_wrapper">
						<div class="top_bar_info_add_list_btn"><i class="fa fa-phone" aria-hidden="true"></i> Our phones<i class="fa fa-angle-down"></i></div>
						<div class="top_bar_info_add_list">
							<a href="tel:9723641944">Dallas: (972) 364-1944</a>
							<a href="tel:9152195232">El Paso: (915) 219-5232</a>
							<a href="tel:5126750345">Austin: (512) 675-0345</a>
							<a href="tel:2103055808">San Antonio: (210) 305-5808</a>
							<a href="tel:8324104200">Houston: (832) 410-4200</a>
						</div>
					</div>
					<div class="top_bar_client_login">
						<ul id="menu-top-menu" class="menu">
							<li ng-if="!userLogin" class="userlogin ng-cloak"><a href="{{host}}account/">Client Login</a></li>
							<li ng-if="userLogin" ng-cloak class="userlogin" >
								<a class="navuser" href="#" ng-click="userPage()" ng-mouseenter="hovering=true" ng-mouseleave="hovering=false">Hi, {{request.current_user.field_user_first_name}}!</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
        
        <div class="logo_wrapper">
        	<a class="logo" href="http://supergoodmovers.com"><img ng-src="/assets/img/logo.png" alt="Super Good Movers" /> </a>
        </div>
        
        <div class="top_navigate_wrapper">
        	<div class="top_navigate">
				<ul>
					<li><a href="about.html">About Super Good Movers</a></li>
					<li><a href="rates.html">Rates</a></li>
					<li>
						<a class="no-link">Moving</a>
						<ul class="sub-menu">
							<li><a href="plan-your-move.html">Plan Your Move</a></li>
							<li><a href="request-an-estimate.html">Request a Moving Estimate</a></li>
							<li><a href="local-moving.html">Local Moving</a></li>
							 <li><a href="commercial-moving.html">Commercial Moving</a></li>
							<li><a href="residential.html">Residential</a></li>
						</ul>
					</li>
					<li>
						<a class="no-link">Storage & More</a>
						<ul class="sub-menu">
							<li><a href="storage.html">Storage</a></li>
							<li><a href="packing.html">Packing</a></li>
						</ul>
					</li>
					<li>
						<a class="cursor-contact-us" href="contact-us.html">Contact Us</a>
					</li>
				</ul>
				<a href="request-an-estimate.html" class="top_navigate_quote_btn">Get a Free Estimate</a>
			</div>
        </div>

<div class="mobile-header-wrapper">
    <a href="javascript:;" class="toggle" id="sidenav-toggle">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
    </a>
    <a class="logo" href="http://supergoodmovers.com"><img ng-src="/assets/img/logo.png" alt="Super Good Movers"/></a>
    <span class="mobile-call">
        <i class="fa fa-angle-down mobile-call-arrow"></i><img class="mobile-phone" src="assets/img/mobile-phone-icon.png" alt="Call My Moving" />
        <span class="mobile-call-toggle">
        	<a class="" href="tel:(915) 219-5232" target="_blank"><i class="fa fa-phone"></i>El Paso</a>
        	<a class="" href="tel:(972) 364-1944" target="_blank"><i class="fa fa-phone"></i>Dallas</a>
        	<a class="" href="tel:(512) 675-0345" target="_blank"><i class="fa fa-phone"></i>Austin</a>
        	<a class="" href="tel:(210) 305-5808" target="_blank"><i class="fa fa-phone"></i>San Antonio</a>
        	<a class="" href="tel:(832) 410-4200" target="_blank"><i class="fa fa-phone"></i>Houston</a>
        </span>
    </span>
</div>

<div class="sidenav" data-sidenav data-sidenav-toggle="#sidenav-toggle">
    <ul class="sidenav-menu">
        <li><a href="about.html">About Super Good Movers</a></li>
        <li><a href="rates.html">Rates</a></li>
        <li>
            <a href="#" data-sidenav-dropdown-toggle>
                <span class="sidenav-link-title">Moving</span>
                <span class="sidenav-dropdown-icon show" data-sidenav-dropdown-icon>
                    <i class="fa fa-angle-down" aria-hidden="true"></i>
                </span>
                <span class="sidenav-dropdown-icon" data-sidenav-dropdown-icon>
                    <i class="fa fa-angle-up" aria-hidden="true"></i>
                </span>
            </a>
            <ul class="sidenav-dropdown" data-sidenav-dropdown>
		<li><a href="plan-your-move.html">Plan Your Move</a></li>
                <li><a href="request-an-estimate.html">Request a Moving Estimate</a></li>
                <li><a href="local-moving.html">Local Moving</a></li>
                <li><a href="commercial-moving.html">Commercial Moving</a></li>
                <li><a href="residential.html">Residential</a></li>
            </ul>
        </li>
        <li>
            <a href="#" data-sidenav-dropdown-toggle>
                <span class="sidenav-link-title">Storage & More</span>
                <span class="sidenav-dropdown-icon show" data-sidenav-dropdown-icon>
                    <i class="fa fa-angle-down" aria-hidden="true"></i>
                </span>
                <span class="sidenav-dropdown-icon" data-sidenav-dropdown-icon>
                    <i class="fa fa-angle-up" aria-hidden="true"></i>
                </span>
            </a>
            <ul class="sidenav-dropdown" data-sidenav-dropdown>
                <li><a href="storage.html">Storage</a></li>
                <li><a href="packing.html">Packing</a></li>
            </ul>
        </li>
        <li><a href="contact-us.html">Contact Us</a></li>
        <li class="get-btn">
            <a href="request-an-estimate.html">Get a Free Estimate</a>
        </li>
    </ul>
</div>
        <!--End Include Header-->  
        
        <div class="header-image international-moving">
		<img class="header-logo-tbr" src="/assets/img/tbr.png" alt="Three Best Rated">
        	<h1>Rights & Responsibilities</h1>
            <h2>When You Move In Texas</h2>
            <span class="js-open-modal btn-form" data-toggle="modal" data-modal-id="popup-form">Request Your Move Online</span>
        </div>
        
        <div class="content-section">
        	<div class="content-wrapper">
            	<span class="title-page">
                	Your Rights & Responsibilities
                </span>
            </div>
        </div>
        
        <div class="content-section inner">
        	<div class="content-wrapper">
            	<div class="w7 right">
		<h3>CHOOSING A LICENSED MOVER</h3>
                    <p><b>All household goods motor carriers (movers) operating within Texas are required to have an active certificate of motor carrier registration and abide by the motor carrier rules and regulations under Chapter 218 of title 43, Texas Administrative Code. This includes major van lines, as well as local movers with trucks and trailers. If you are planning to hire a moving company in Texas, we want you to be aware of your rights and responsibilities when choosing a mover. Find more information at www.TxDMV.gov</b></p>

<p><b>Choosing Your Mover </b><br>There are many moving companies out there, so choose your mover carefully. Shop around to find the best prices and services. TxDMV does not regulate fees charged by movers and as a state agency, we will not recommend specific moving companies. However, we do provide a searchable database on our website (<b>www.TxDMV.gov</b>) that you can access to verify whether your mover is properly registered. By contacting the department’s Enforcement Division at 1(888) 368-4689, you can obtain information regarding your mover’s complaint history. You can also contact the Better Business Bureau (<b>www.bbb.org</b>) for additional information regarding your mover.</p>

<p><b>Proposal for Moving Services </b><br> Once you’ve selected your mover, make sure you get everything in writing. Movers are required to provide you with a written proposal prior to loading your items. The proposal may be either a binding proposal (states the exact price of the move) or a not-to-exceed proposal (states the maximum price of the move), and must be signed by both you and the mover. For movers to give you an accurate estimate, you must be clear about the items you want moved and advise them of any special conditions, such as stairs, long carries or elevators that are involved in the move. The proposal should also indicate when payment is due, and what forms of payment are accepted, such as personal checks or credit cards.</p>

<p><b>Moving Services Contract</b><br> Your mover is also required to provide you with a moving services contract prior to loading your items. The agreements on the written proposal provided by your mover also become a part of your contract and can actually be one combined document. The contract should contain all the information about your move including your name, the mover’s name, the origin and destination points and the amount of the mover’s limitation of liability for loss or damage of your property. Be sure all agreements between you and your mover are written into the moving services contract. <b>Do not rely on any verbal agreements. READ ALL DOCUMENTS CAREFULLY BEFORE SIGNING YOUR NAME.</b></p>

		<h3>DURING YOUR MOVE</h3>

<p><b>Mover’s Liability</b><br>All licensed movers have a standard liability of 60 cents per pound article. For example, if a 50–pound television is damaged as a result of a move, the mover is only required to reimburse you $30 (50 lbs. X 0.60 = $30). Some movers will assume a higher level of liability, however, it must be agreed upon by both parties and additional fees may be assessed by the mover. Keep in mind that the mover’s limits are not the same as insurance. You, as the shipper, can obtain additional insurance to protect your items. </p>

<p><b>Insurance</b><br> Some movers may offer to sell you transit insurance, which helps cover loss or damage to your goods, or you can purchase this type of policy from a separate insurance company. Your mover is required to provide you with a copy of the policy and any other appropriate evidence of insurance purchased. Transit insurance is not regulated by TxDMV or the Texas Department of Insurance (TDI), so be sure to carefully read the policy to fully understand your coverage and any deductibles.</p>

<p><b>Inventory of Goods Being Moved</b><br>Some movers may offer to prepare a descriptive inventory of your items for an additional cost. If an inventory is prepared, it should list all items to be moved and their condition. It should also be signed by both you and the mover prior to and after the move. As with any shipping document, you should review it for accuracy before signing. </p>

<p><b>Important: </b>  Inventories are often used during the claims process; inspect your shipment carefully. Make sure all items are accounted for. If there is obvious loss or damage, note this on the inventory at the time of delivery</p>

<p><b>Pickup and Delivery Dates</b><br> Advise your mover of any deadlines that you might have with regards to pickup and delivery times. Note these deadlines either on your written proposal or moving services contract. If you are not available at the agreed upon times, contact your mover immediately. If you alter the pickup and/or delivery dates or times you may be charged additional fees. </p>

<p><b>Delivery</b><br> Your mover must provide you with a completed copy of the moving services contract signed by both you and the mover upon delivery of the shipment. Check the condition of your property and make any notations on the contract document before signing. </p>

<p><b>Paying the Moving Company </b><br> Remember that the last amended contract or written proposal lists the total price that you will be required to pay at the time of delivery. You should be prepared to pay the maximum amount shown on the written proposal provided by the mover </p>

		<h3>IN CASE OF A PROBLEM</h3>

<p><b>Claims</b><br>If you have any disputes about charges, or loss or damage to your goods, you need to file a written claim with the mover within 90 days of the delivery date and must include enough information for the mover to investigate your claim along with any specific monetary amounts requested or other solutions you are seeking. Your mover has 20 days to respond acknowledging your claim and has 90 days to pay, deny or make a settlement offer. If your claim involves damaged goods, you should preserve the containers and the damaged goods. The mover has the right to inspect any containers or damaged goods within 30 days of receiving your claim.  </p>

<p><b>Important: </b>If your mover does not receive the claim within 90 days of delivery, your claim can be denied. </p>

		<h3>TxDMV’s Role</h3>

<p><b>Mediation</b><br> If you are not satisfied with your settlement offer or your claim is denied, you can contact TxDMV for mediation. A mediation request must be received at TxDMV within 30 days after the mover has responded to your claim with an unsatisfactory offer or denial of your claim, or if you do not receive a response from the mover after 90 days from the original claim.<br> Mediation is conducted by a neutral third party and coordinated by TxDMV at no cost to the shipper. Ideally, mediation will be held by telephone, by written submissions or in person at TxDMV facilities in Austin, Texas. If mediation is unsuccessful, you may pursue the claim in a court of law at your expense.</p>

<p><b>Complaints</b><br> If you have a complaint against a moving company in Texas, you can file a complaint with TxDMV by:
<br>• Going online at: <b>www.TxDMV.gov</b>
<br>• Calling us at: <b>1(888) 368-4689</b>
<br>• Emailing us at: <b>TruckStop@TxDMV.gov</b></p>

<p><b>Interstate Moves</b><br> Movers who transport shipments across state lines are regulated by the Federal Motor Carrier Safety Administration (FMCSA). For more information on interstate moving companies or to file a complaint regarding an interstate move, visit: <b>www.protectyourmove.gov</b> or contact: <b>Federal Motor Carrier Safety Administration, www.fmcsa.dot.gov; 1(800) 832-5660.</b></p>

<p><b>Need more help?<br> Go to www.TxDMV.gov</b></p>
                    
                    <p></p>
                </div>
                <div class="w3">
                    <div class="inner-img-box left">
                        <img src="assets/img/rights.jpg" alt="Local Moving" />
                    </div>
                    <div class="inner-img-box left">
                        <img src="assets/img/rights2.jpg" alt="Local Moving" />
                    </div>
                    <div class="inner-img-box left">
                        <img src="assets/img/rights3.jpg" alt="Local Moving" />
                    </div>
                </div>
            </div>
        </div>
        
        <div id="popup-form" class="modal-box">  
            <span class="js-modal-close close">×</span>
            <div class="modal-body">
                <ultrasmall-form></ultrasmall-form>
            </div>
        </div>
        
        <!--Include Footer-->
        
<div class="pre_footer_wrapper">
    <div class="pre_footer">        
        <div class="pre_footer_logos">
			<img class="footer-logo-tbr" src="/assets/img/tbr.png" alt="Three Best Rated" />
			<a href="https://www.homeadvisor.com/rated.SuperGoodMovers.64183601.html">
				<img class="footer-logo-adv" alt="HomeAdvisor Screened & Approved Business" src="https://www.homeadvisor.com/images/sp-badges/soap-solid-border.png?sp=64183601&key=828cffbd8b6fc375f627ea566ac1d3c0" />
			</a>
      	</div>       
       
        <a class="pre_footer_btn" href="mailto:info@supergoodmovers.com" target="_blank"><i class="fa fa fa-envelope"></i>info@supergoodmovers.com</a>
        <a class="pre_footer_btn pre_footer_btn_right" href="tel:915-219-5232" target="_blank"><i class="fa fa-phone-square" aria-hidden="true"></i>(915) 219-5232</a>
    </div>
</div>

<div class="footer_wrapper">
	<div class="footer">
        <div class="footer_navigate"> 
           
			<div class="footer_logo_wrapper">
				<a class="logo" href="http://supergoodmovers.com"><img ng-src="/assets/img/logo-footer.png" alt="Super Good Movers" /> </a>
			</div>

			<h3 class="title">SERVICES</h3>
			<ul>
				<li>
					<a href="request-an-estimate.html">Request a Moving Estimate</a>
				</li>
				<li>
					<a href="local-moving.html">Local Moving</a>
				</li>

				<li>
					<a href="storage.html">Storage</a>
				</li>
				<li>
					<a href="packing.html">Packing</a>
				</li>
			</ul>
        </div>           
		<div class="footer_license">
			<h3 class="title">LICENSE</h3>
			<span>
				USDOT: 1956009
			</span>
			<span>
				TxDMV No. 006479628C
			</span>
			<span>
				TxDMV TOLL FREE: 1-888-368-4689
			</span>
			<span>
				Address: 827 E. Paisano, El Paso, TX, 79901
			</span>
		</div>
   		<div class="footer_socials">
            <a href="https://www.facebook.com/supergoodmoversusa/" target="_blank"><i class="fa fa-facebook"></i></a>
            <a href="https://twitter.com/sgoodmovers915" target="_blank"><i class="fa fa-twitter"></i> </a>
            <a href="https://www.pinterest.com/supergoodmovers/" target="_blank"><i class="fa fa-pinterest"></i> </a>
            <a href="https://www.linkedin.com/company/4816722/" target="_blank"><i class="fa fa-linkedin"> </i> </a>
        </div>
        <div class="footer_logos">
        	<h3>Review Us:</h3>
        	<a class="review-img" href="https://birdeye.com/super-good-movers-150584732762211" target="_blank">                    
				<img src="/assets/img/birdseye-logo.png" alt="" />
			</a>
        </div>
    </div>
</div>

<div class="footer_copyright_wrapper">
	<div class="footer_copyright">            
		<span class="copyright">
			© 2018 Super Good Movers Moving &amp; Storage
		</span> 

		<div class="footer_copyright_powered">
			Powered by <a href="https://www.elromco.com/" target="_blank">Elromco Inc.<img src="https://static.wixstatic.com/media/a80349_71378d07e1f9495db250888a8786f049.png/v1/fill/w_348,h_99,al_c,usm_0.66_1.00_0.01/a80349_71378d07e1f9495db250888a8786f049.png" alt="Elromco Inc." /></a>
		</div>

	</div>
</div>
    
<div id="popup" class="modal-box">  
    <span class="js-modal-close close">×</span>
    <div class="modal-body">
        <iframe width="100%" height="500" src="//www.youtube.com/embed/CsxKQhOMpgU?feature=oembed&controls=1&hd=1&autohide=1&autoplay=0" frameborder="0" allowfullscreen></iframe>
    </div>
</div> 
        <!--End Include Footer-->
        
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
        <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
        
        <script src="elromco-min/app.import.js"></script> <!-- 1 Order !Important -->
        <script src="elromco-min/company/app.module.js"></script> <!-- 2 Order !Important -->
        <script src='elromco-min/moment.js'></script>
        <script src="//maps.googleapis.com/maps/api/js?v=3.exp&libraries=places&key=AIzaSyAqJtLkKqgyjyL7sV-5gQbKC_IBfJV2Ge0&language=en"></script>
        
        <script src='assets/js/script.js'></script>
        <script src="assets/js/menu.js"></script>
        <script type="text/javascript" src="assets/js/jquery.resposlider.min.js"></script> 
        
        <!-- Global site tag (gtag.js) - Google Analytics -->
		<script async src="https://www.googletagmanager.com/gtag/js?id=UA-114858037-1"></script>
		<script>
		  window.dataLayer = window.dataLayer || [];
		  function gtag(){dataLayer.push(arguments);}
		  gtag('js', new Date());

		  gtag('config', 'UA-114858037-1');
		</script>


	</body>
</html>
